<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>


<h1 class="index-head"><%=@genre.name%> Books</h1>
<%if @genre.genre_edit?%>
<%=link_to "Edit Genre", edit_genre_path(@genre), class:"new"%>
<%end%>

<ol>
<%@genre.books.each do |book|%>
<li><h3><%=link_to book.title, book_path(book)%> - <%=link_to book.author_name, author_path(book.author)%></h3></li>
<%end%>
</ol>
