<h1>All Authors</h1>
<%if !params[:genre].blank?%>
  <% @authors = Author.joins(books: :genres)%>
  <%=@filtered_genre = @authors.first.genres.first.name%>
<% end %>

<text>Filter Authors By Genres:</text>
<%= form_tag("/authors", method: "get") do %>
<%= select_tag "genre", options_from_collection_for_select(Genre.all, "id", "name"), include_blank: true %>
<%= submit_tag "Filter" %>
<% end %><br>

<%if @filtered_genre%>
<h3><%=@filtered_genre%> Books</h3>
<%end%>

<% @authors.each do |author| %>
<div>
  <h3>Name: <%= link_to author.name, author_path(author) %></h3>
</div>
<% end %>
