<h1 class="index-head">All Authors</h1>
<text class="new"><%=link_to "New Author", new_author_path%></text>
<%if !params[:genre].blank?%>
  <% @authors = Author.joins(books: :genres).where('genres.id = ?', params[:genre]).uniq%>
  <%@filtered_genre = @authors.first.genres.first.name%>
<% end %>

<h4>Filter Authors By Genres:</h4>
<%= form_tag("/authors", method: "get") do %>
<%= select_tag "genre", options_from_collection_for_select(Genre.all, "id", "name"), include_blank: true %>
<%= submit_tag "Filter" %>
<% end %><br>

<%if @filtered_genre%>
<h3><%=@filtered_genre%> Authors</h3>
<%end%>

<div>
<ol>
<% @authors.each do |author| %>
  <li><%= link_to author.name, author_path(author) %></li>
<% end %>
</ol>
</div>
