<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<%if !params[:genre].blank?%>
  <% @books = Book.joins(:genres).where('genres.id = ?', params[:genre]).where(author_id: @author.id)%>
  <%@filtered_genre = @books.first.genres.first.name%>
<% end %>

<h1 class="index-head"><%=@author.name%></h1>
<%if @author.author_edit?%>
<%=link_to "Edit Author", edit_author_path(@author), class:"new"%>
<%end%><br>

<text>Filter By Genre:</text>
<%= form_tag("/authors/#{@author.id}", method: "get") do %>
<%= select_tag "genre", options_from_collection_for_select(@author.genres, "id", "name"), include_blank: true %>
<%= submit_tag "Filter" %>
<% end %><br>


<h3><%=@filtered_genre%> Books</h3>


<ol>
<%@books.each do |book|%>
<li><h3><%=link_to book.title, book_path(book)%></h3></li>
<ul>
<li><h3>Genres</h3></li>
  <ul>
  <%book.genres.each do |genre|%>
    <li><h3><%=link_to genre.name, genre_path(genre)%></h3></li>
<%end%>
  </ul>
<li><h3><%=link_to "Reviews", book_path(book)%></h3></li>
</ul>
<%end%>
</ol>
