	<% if !params[:author].blank?%>
	 <% @reviews = Review.joins(:book).where('author_id = ?', params[:author])%> 
  <%elsif !params[:book].blank?%>
    <% @reviews = Review.where(book: params[:book], user_id: current_user.id) %>
  <%elsif !params[:genre].blank?%>
    <% @reviews = Review.w %>
	<% end %>


<h1><%=@user.name%></h1>

<h3>Book Reviews</h3>

<text>Filter Reviews:</text>
<%= form_tag("/users/#{@user.id}", method: "get") do %>
<%= select_tag "book", options_from_collection_for_select(@user.books.uniq, "id", "title"), include_blank: true %>
<%= select_tag "author", options_from_collection_for_select(@user.authors.uniq, "id", "name"), include_blank: true %>
<%= select_tag "genre", options_from_collection_for_select(@user.genres.uniq, "id", "name"), include_blank: true %>
<%= submit_tag "Filter" %>
<% end %>

<% @reviews.each do |review| %>
  <div>
		<h3>Book Title: <%= link_to review.book.title, book_path(review.book) %></h3>
    <h3>Author: <%= link_to review.book.author_name, author_path(review.book.author) %></h3>
		<h4>Rating: <%= review.rating %> Stars</h4>
    <p><%= review.content %></p>
  </div>
<% end %>
