	<% if !params[:author].blank?%>
	 <% @reviews = Review.joins(:book).where('author_id = ?', params[:author]).where(user_id: @user.id)%>
	 <%@filtered_author = @reviews.first.book.author_name unless @reviews.empty?%>
	<%elsif !params[:book].blank?%>
    <% @reviews = Review.where(book: params[:book], user_id: @user.id) %>
		<%@filtered_book = @reviews.first.book.title unless @reviews.empty?%>
  <%elsif !params[:genre].blank?%>
    <% @reviews = Review.joins(book: :genres).where('genre_id = ?', params[:genre]).where(user_id: @user.id) %>
		<%@filtered_genre = @reviews.first.book.genres.first.name unless @reviews.empty?%>
	<% end %>


<h1><%=@user.name%>'s Reviews</h1>

<h3>Book Reviews</h3>

<text>Filter Reviews:</text>
<%= form_tag("/users/#{@user.id}", method: "get") do %>
<text>Filter By Title:</text>
<%= select_tag "book", options_from_collection_for_select(@user.books.uniq, "id", "title"), include_blank: true %><br>
<text>Filter By Author:</text>
<%= select_tag "author", options_from_collection_for_select(@user.authors.uniq, "id", "name"), include_blank: true %><br>
<text>Filter By Genre:</text>
<%= select_tag "genre", options_from_collection_for_select(@user.genres.uniq, "id", "name"), include_blank: true %><br>
<%= submit_tag "Filter" %>
<% end %><br>


<%if @filtered_genre%>
<h3>Reviews of <%=@filtered_genre%> Books</h3>
<% elsif @filtered_author%>
<h3>Reviews of Books By <%=@filtered_author%></h3>
<% elsif @filtered_book%>
<h3>Review(s) of <%=@filtered_book%></h3>
<%end%><br>

<% @reviews.each do |review| %>
  <div>
		<h3 class="index-head">Book Title: <%= link_to review.book.title, book_path(review.book) %></h3>
		<text class="new"><%=link_to "See Review", book_review_path(review.book, review)%></text>
    <h3>Author: <%= link_to review.book.author_name, author_path(review.book.author) %></h3>
		<h4>Rating: <%= review.rating %> Stars</h4>
    <p><%= review.content %></p>
  </div>
<%end%>
