<% if !params[:author].blank?%>
 <% @books = Book.where(author: params[:author]) %>
 <%@filtered_author = @books.first.author.name%>
<%elsif !params[:genre].blank?%>
  <% @books = Book.joins(genres: :book_genres) %>
  <%@filtered_genre = @books.first.genres.first.name%>
<% end %>

<h1 class="index-head">All Books</h1>
<text class="new"><%=link_to "New Book", new_book_path%></text>

<%= form_tag("/books", method: "get") do %>
<text>Filter By Author:</text>
<%= select_tag "author", options_from_collection_for_select(Author.all, "id", "name"), include_blank: true %><br>
<text>Filter By Genre:</text>
<%= select_tag "genre", options_from_collection_for_select(Genre.all, "id", "name"), include_blank: true %><br>
<%= submit_tag "Filter" %>
<% end %><br>

<%if @filtered_genre%>
<h3><%=@filtered_genre%> Books</h3>
<% elsif @filtered_author%>
<h3>Books By <%=@filtered_author%></h3>
<%end%>

<ol>
<%@books.each do |book|%>
<li><%=link_to book.title, book_path(book)%> - <%=link_to book.author_name, author_path(book.author)%></li>
<%end%>
</ol>
