<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<h1 class="bookShow" class="index-head" data-id="<%= @book.id %>"><%=@book.title%></h1>
<text class="new"><%=link_to "New Review", new_book_review_path(@book)%></text>
<h3>Author: <%=link_to @book.author_name, author_path(@book.author)%></h3>
<h3>Genres</h3>

<ul id="genreList">
<!-- <%@book.genres.each do |genre|%>
  <li> <%=link_to genre.name, genre_path(genre)%> </li>
<%end%> -->
</ul>

<h3>Add New Genre(s)</h3>

<%=form_for @book, :html => {:id => "update_form"} do |f|%>
<%= f.fields_for :genres, @book.genres.build do |genres_fields| %>
<%= genres_fields.text_field :name%>
<%end%><br><br>
<%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
<section id="newBox"></section><br><br>
<%=f.submit "Update Genre(s)"%>
<%end%><br>

<%if @book.book_edit?%>
<%=link_to "Edit Book", edit_book_path(@book)%>
<%end%><br><br>

<h3>Reviews</h3>

<div class = "review">
<%@reviews.each do |review|%>
<h4 class="r-name index-head"><%=link_to review.user.name, user_path(review.user)%></h4>
<text class="new"><%=link_to "See Review", book_review_path(review.book, review)%></text>
<p class="r-rating">Rating: <%=review.rating%></p>
<p class="r-content"><%=review.content%></p><br>
<%end%>
</div>
