<h1 class="index-head"><%=@book.title%></h1>
<text class="new"><%=link_to "New Review", new_book_review_path(@book)%></text>
<h3>Author: <%=@book.author_name%></h3>
<h3>Genres</h3>

<ul>
<%@book.genres.each do |genre|%>
  <li> <%=genre.name%> </li>
<%end%>
</ul>

<h3>Reviews</h3>

<div class = "review">
<%@reviews.each do |review|%>
<h4 class="r-name"><%=link_to review.user.name, user_path(review.user)%></h4>
<p class="r-rating">Rating: <%=review.rating%></p>
<p class="r-content"><%=review.content%></p><br>
<%end%>
</div>
