<h1><%=@book.title%></h1>
<h3>Author: <%=@book.author_name%></h3>

<h4>Reviews</h4>

<%@reviews.each do |review|%>
<h6><%=review.user.name%></h6>
<p>Rating: <%=review.rating%></p>
<p><%=review.content%></p>
<%end%>
