<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
     		preventing you from adding a review:
      </h2>
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


	<%= form_tag review_path(@review), method: "patch" do %>
	  <%= render "form" %>
	<% end %><br>


	<%= form_tag book_review_path(@review.book, @review), method: "delete" do %>
	<%= submit_tag "Delete Review", class:"delete" %>
	<% end %>
