<!DOCTYPE html>
<html>
  <head>
    <title>BookReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Book Review</h1>
    <nav>
      <%if logged_in?%>
      <%=link_to "#{current_user.name}'s <br /> Profile".html_safe, user_path(current_user), id:"profile"%>
      <%=link_to "Books", books_path%>
      <%=link_to "Authors", authors_path%>
      <%=link_to "Genres", genres_path%>
      <%=link_to "Log Out", logout_path, method:'post', action:'destroy'%>
      <%end%>
      <%if !logged_in?%>
      <%=link_to "Sign Up", signup_path%>
      <%=link_to "Log In", login_path%>
      <%end%>
    </nav>
  </header>

  <body>
    <main>
      <section class = "text">
        <%= yield %>
    </section>
    </main>
  </body>
</html>
