<!DOCTYPE html>
<html>
  <head>
    <title>BookReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Book Review</h1>
    <nav>
      <%if logged_in?%>
      <%=link_to "My Profile", user_path(current_user)%>
      <%=link_to "All Books", books_path%>
      <%=link_to "All Authors", authors_path%>
      <%=link_to "All Genres", genres_path%>
      <%=link_to "Log Out", logout_path, method:'post', action:'destroy'%>
      <%end%>
    </nav>
  </header>

  <body>
    <main>
      <section class = "text">
        <%= yield %>
    </section>
    </main>
  </body>
</html>
